<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="127.0.0.1"/>
    <add key="port" value="2000"/>
    <add key="IsReadyStr" value="%01$RD010014"/>
    <add key="IsNotReadyStr" value="%01$RD020014"/>
    <add key="WriteReturnStr" value="%01$WD13"/>

    <add key="IsReadyStr_R" value="%01$RC120"/>
    <add key="IsNotReadyStr_R" value="%01$RC020"/>
    <add key="WriteReturnStr_R" value="%01$WC14"/>
  </appSettings>
</configuration>