<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Anchitech.Mes.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="username" value="WCW"/>
    <add key="password" value="garen105778"/>

    <add key="MachineAccess_URL_TEST" value="http://10.10.156.11:50000/sapdevwebservice/MachineAccessTestServiceService"/>
    <add key="MachineAccess_URL_NORMAL" value="http://10.10.180.13:50000/sapdevwebservice/MachineAccessTestServiceService"/>
    <add key="Executing_URL_TEST" value="http://10.10.156.11:50000/sapdevwebservice/ExecutingServiceService"/>
    <add key="Executing_URL_NORMAL" value="http://10.10.180.13:50000/sapdevwebservice/ExecutingServiceService"/>
  </appSettings>
  <applicationSettings>
    <Anchitech.Mes.Test.Properties.Settings>
      <setting name="Anchitech_Mes_Test_MachineAccessWebReference_MachineAccessTestServiceService"
        serializeAs="String">
        <value>http://MEAPVIP.soundnewenergy.net:50000/sapdevwebservice/MachineAccessTestServiceService</value>
      </setting>
      <setting name="Anchitech_Mes_Test_ExecutingWebReference_ExecutingServiceService"
        serializeAs="String">
        <value>http://MEAPVIP.soundnewenergy.net:50000/sapdevwebservice/ExecutingServiceService</value>
      </setting>
      <setting name="Anchitech_Mes_Test_MesService_EquipService" serializeAs="String">
        <value>http://192.168.100.11:8094/EquipService.asmx</value>
      </setting>
    </Anchitech.Mes.Test.Properties.Settings>
  </applicationSettings>
</configuration>