<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BYD.Scan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="mes_site" value="1003"/>
    <add key="mes_username" value="WCW"/>
    <add key="mes_password" value="garen105778"/>
  </appSettings>
  <applicationSettings>
    <BYD.Scan.Properties.Settings>
      <setting name="Anchitech_Dispatcher_MachineAccessWebReference_MachineAccessTestServiceService" serializeAs="String">
        <value>http://MEAPVIP.soundnewenergy.net:50000/sapdevwebservice/MachineAccessTestServiceService</value>
      </setting>
      <setting name="Anchitech_Dispatcher_ExecutingWebReference_ExecutingServiceService" serializeAs="String">
        <value>http://MEAPVIP.soundnewenergy.net:50000/sapdevwebservice/ExecutingServiceService</value>
      </setting>
      <setting name="BYD_Scan_MesService_AutoLineService" serializeAs="String">
        <value>http://10.9.46.194/meswebservice/autolineservice.asmx</value>
      </setting>
    </BYD.Scan.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
