<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Soundon.Dispatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MachineAccessTestServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://SAPMEAP:51000/sapdevwebservice/MachineAccessTestServiceService"
                binding="basicHttpBinding" bindingConfiguration="MachineAccessTestServiceBinding"
                contract="MesWebService.MachineAccessTestService" name="MachineAccessTestServicePort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Soundon.Dispatcher.Properties.Settings>
            <setting name="Soundon_Dispatcher_MachineAccessWebReference_MachineAccessTestServiceService"
                serializeAs="String">
                <value>http://MEAPVIP.soundnewenergy.net:50000/sapdevwebservice/MachineAccessTestServiceService</value>
            </setting>
            <setting name="Soundon_Dispatcher_ExecutingWebReference_ExecutingServiceService"
                serializeAs="String">
                <value>http://MEAPVIP.soundnewenergy.net:50000/sapdevwebservice/ExecutingServiceService</value>
            </setting>
        </Soundon.Dispatcher.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="mes_site" value="1003"/>
    <add key="mes_username" value="WCW"/>
    <add key="mes_password" value="garen105778"/>
  </appSettings>
</configuration>