<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CAMEL.Baking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="mes_site" value="1003"/>
    <add key="mes_username" value="WCW"/>
    <add key="mes_password" value="garen105778"/>
  </appSettings>
  <applicationSettings>
    <CAMEL.Baking.Properties.Settings>
      <setting name="Anchitech_Dispatcher_MachineAccessWebReference_MachineAccessTestServiceService" serializeAs="String">
        <value>http://MEAPVIP.soundnewenergy.net:50000/sapdevwebservice/MachineAccessTestServiceService</value>
      </setting>
      <setting name="Anchitech_Dispatcher_ExecutingWebReference_ExecutingServiceService" serializeAs="String">
        <value>http://MEAPVIP.soundnewenergy.net:50000/sapdevwebservice/ExecutingServiceService</value>
      </setting>
      <setting name="Anchitech_Baking_MesService_EquipService" serializeAs="String">
        <value>http://192.168.100.11:8094/EquipService.asmx</value>
      </setting>

      <setting name="CAMEL_Baking_IdentityVerificationService_IdentityVerificationService" serializeAs="String">
        <value>http://172.21.30.251:9010/IdentityVerificationService.asmx</value>
      </setting>
      <setting name="CAMEL_Baking_TrayBindingService_TrayBindingService" serializeAs="String">
        <value>http://172.21.30.251:9010/TrayBindingService.asmx</value>
      </setting>   
      <setting name="CAMEL_Baking_DeviceStatusRecordService_DeviceStatusRecordService" serializeAs="String">
        <value>http://172.21.30.251:9010/DeviceStatusRecordService.asmx</value>
      </setting>
      <setting name="CAMEL_Baking_ProductionDataUploadService_ProductionDataUploadService" serializeAs="String">
        <value>http://172.21.30.251:9010/ProductionDataUploadService.asmx</value>
      </setting>

    </CAMEL.Baking.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
