<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Soundon.Mes.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Soundon.Mes.Test.Properties.Settings>
            <setting name="Soundon_Mes_Test_MachineAccessWebReference_MachineAccessTestServiceService"
                serializeAs="String">
                <value>http://MEAPVIP.soundnewenergy.net:50000/sapdevwebservice/MachineAccessTestServiceService</value>
            </setting>
            <setting name="Soundon_Mes_Test_ExecutingWebReference_ExecutingServiceService"
                serializeAs="String">
                <value>http://MEAPVIP.soundnewenergy.net:50000/sapdevwebservice/ExecutingServiceService</value>
            </setting>
        </Soundon.Mes.Test.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="username" value="WCW"/>
    <add key="password" value="garen105778"/>
  </appSettings>
</configuration>