<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="TengDaDb" connectionString="Data Source=.;Initial Catalog=Anchitech;Persist Security Info=True;User ID=sa;Password=Aa123456;Connection Timeout=5;"/>
  </connectionStrings>
  <appSettings>
    <add key="LayoutType" value="2"/>
    <!--A/B线：1，C/D线：2-->
    <add key="OpenDbTimeout" value="1000"/>
    <add key="ClampScanerTimeout" value="1200"/>
    <add key="DbTableNamePre" value="Anchitech.Baking"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="TcpClientSendTimeout" value="5"/>
    <add key="mes_site" value="1003"/>
    <add key="mes_username" value="WCW"/>
    <add key="mes_password" value="garen105778"/>

    <!--以下配置为温度异常点报警参数
        参数列表：a,b,c,d,e
        含义：
          当有a个温度点的温度在b℃和c℃之间时，
          如果有温度点的温度小于d℃或者大于e℃，
          该温度点属于异常点，需记录相关信息到日志    
    -->
    <add key="temperature_ex_params" value="8,85,95,75,100"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
